
#iconaUtente{
    float: right;
}

#navigationBar{
    position: absolute;
    left: 40%;
    right: 50%;
}

#navigationBar :first-child{
    padding: 20px;
    font-weight: bold;
}

header{
    background-color: lightgrey;  
}

#footer{
    background-color: lightgrey;
    
}

.Row1 img{
    padding: 20px;
}

