#header{
    background-color: #1C0E31ff;
    width: 100%;
}

#iconaUtente{
    display: none;/*valore di default se non siamo loggati*/
    float: right;/*posiziona l'icona dell'utente in alto a destra*/
    cursor: pointer;
}


#navigationBar{
    position: absolute;
    left: 45%;
    right: 50%;/*centramento delle scritte Home e catalogo*/
    top: 12px;
    width: auto;
    font-size: 120%;
    color: #F7B801;
}


#navigationBar :first-child{
    padding: 5%;/*padding della scritta Home*/
    padding-right: 20%;
    cursor: pointer;
}

#navigationBar :nth-child(2){
    cursor: pointer;
}

#loginStr{
    float: right;/*posiziona in alto a destra*/
    width: auto;
    margin-top: 12px;/*distanzio dal margine superiore*/
    margin-right: 20px;
    color: #F7B801;
    cursor: pointer;
    display: inline;/*visibile quando l'utente non è loggato*/
}

#coppa{/*posizionamento dell'icona del trofeo*/
   float: right;
   margin-top: 8px;
   margin-right: 40px;
   cursor: pointer;
   display: none;/*non visibile se non siamo loggati*/
}